body {
    background-image: linear-gradient(179.08deg, #5774BF 8.05%, rgba(87, 116, 191, 0) 106.8%);
    background-repeat: none;
    background-attachment: fixed;
}

.homepage input[type="text"] {
    border-radius: 20px;
    width: 500px;
    height: 100px;
}
